:root {
  --side-margin: calc(100vw / 6);
}

@font-face {
  font-family: norse-bold;
  src: url(assets/Norse-Bold.otf);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0 var(--side-margin);
}

div.background {
  background-image: url(assets/background.jpg);
  background-size: cover;
  height: 100vh;
  width: calc(100vw - var(--side-margin) * 2);
  display: flex;
  color: white;
  justify-content: center;
}

div.logo {
  display: flex;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-top: 25vh;
  padding: 0.4rem;
}

h1 {
  font-family: norse-bold, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2.5rem;
}

div.body {
  background-color: #e5e7eb;
  font-weight: 600;
}

fieldset {
  border: none;
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
}

label {
  display: block;
}

input {
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  padding: 3px;
}

input:focus {
  outline: 2px solid skyblue;
  box-shadow: 2px 2px 2px 2px #e5e7eb;
}

.password:invalid {
  border-color: red;
}

button {
  background-color: #596d48;
  color: white;
  border: none;
  padding: 10px 50px;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

button:hover {
  cursor: pointer;
  background-color: rgba(89, 109, 72, 0.842);
  color: rgba(255, 255, 255, 0.849);
}

div.intro {
  padding: 4rem 4rem 2rem 1.5rem;
}

.para {
  margin-top: 1rem;
}

div.inputs {
  padding: 1rem 4rem 2rem 2rem;
  font-weight: 500;
  font-size: small;
  background-color: white;
}

div.inputs h2 {
  font-weight: 600;
}

div.button {
  margin: 1.5rem 2rem;
}
